@import url("https://cdn.syncfusion.com/ej2/material.css");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  font-family: manjari, Verdana, Geneva, Tahoma, sans-serif;
}

ul{
  padding: 5px;
}

.nav-header ul{
  text-align: center;
}

li{
  list-style: none;
  display: inline-block;
  padding: 10px;
}

li a{
  text-decoration: none;
  color: sienna;
}
.clear{
  clear: right;
}

.carousel-item{
  height: 400px;
}
.carousel-item img{
  background-size: inherit;
}

.title{
  color: sienna;
  font-size: 18px;
  padding: 10px;
  text-align: center;
}

.card img{
  height: 180px;
}

.popular-choice{
  background-color: rgb(214, 207, 207);
  height: 350px;
}

/* login form */

.App{
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(74deg,rgb(214, 207, 207) 5%, rgb(214, 207, 207), rgb(214, 207, 207), rgb(214, 207, 207) );
}
.form-container, .form2, .form1 {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}
.form-container{
  padding: 2rem;
  border: 1px solid white;
  border-radius: 10px;
}
label{
  text-align: left;
  padding: 0rem 0;
}
input{
  margin: 0rem 0;
  padding: 4px;
  border: none;
  border-radius: 10px;
}
button{
  border: none;
  background-color: whitesmoke;
  padding: 20px;
  margin: 0.5rem 0;
  border-radius: 10px;
}
.button-down{
  background: none;
  color: white;
  text-decoration: underline;
}
.page{
  display: flex;
  flex-direction: column;
  height: 180px;
}
.sync{
  text-align: left;
  padding: 0.5rem 0;
}
